body {
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}
.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
}
aside {
    background-color:tan;
    color: brown;
    padding: 20px;
}
main {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: grey;
}

.column {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    color: #000;
}
.cards {
    display: grid;
    gap: auto;
    padding: 10px;
    color: yellow;
    border: thick solid black;
    border-radius: 5px;
    margin: auto;
    box-shadow: 5px 5px 6px black; 
}
.cards img {
    width: auto;
    height: auto;
    object-fit: contain;
}
.grid {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows:repeat(5,auto);
    padding: 10px;
}


