body {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    background-color:#F5DFBB;
    color: #CC5803;
}
.tawny {
    color: #CC5803;
}
.tan{
    color:tan;
}
.brown {
    color:#E2711D;
}
.orange {
    color:#FF9505;
}
.yellow{
    color:#e99e07;
}
#red {
    color:red;
}