body{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    background: url('red_background.jpg') rgb(148, 29, 29);
}
.other{
    background-image: url('red_background.jpg');
    /*background-repeat: repeat-y;
    color: aliceblue;
    background-color:
    background-position*/

}
.mylist{
    list-style-type: none
}