body{
    font-family: 'Times New Roman', Times, serif;
}
header {
    background-color:blue;
}
header h1 {
    background-color:aqua;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 20px;
    text-align: center;
}
nav {
    background-color: blanchedalmond;
    border: 5px dashed rgb(100, 100, 100);
}
main h1 {
    border: 3px dotted black;
    width: 500px;
}