body{
    font-family: 'Times New Roman', Times, serif;
}
header {
    background-color:blue;
}
header h1 {
    background-color:aqua;
    border-style: solid;
    border-color: antiquewhite;
    border-width: 20px;
    text-align: center;
}
nav {
    background-color: blanchedalmond;
    border: 5px dashed rgb(100, 100, 100);
}
main h1 {
    border: 3px dotted black;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-right: 20px;
}
main p {
    border: thick solid brown;
    padding: 10px 20px 30px 40px;
}
