body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
header {
    background-color: bisque
}

nav a {
    display: block;
    padding: 30px;
    text-decoration: none;
    background-color: cadetblue;
}

nav a:hover {
    color: blanchedalmond;
    background-color: grey;
}
nav {
    display: flex;
    justify-content: space-evenly;
    color: cadetblue;
}

.main-row {
    display: flex;
    flex-direction: column;
}

.card {
    width: 200px;
    border: thin solid brown;
    box-shadow: 3px 3px 6px brown;
    margin: 5px;
}
.row {
    display: flex;
    flex-flow: wrap;
}
.card img {
    width: 100%;
}
.sidebar {
    width: 200px;
}
@media ONLY screen AND (max-width: 480px){
    body {
        flex-direction: column-reverse;
    }
    .main-row{
        flex-direction: column-reverse;
    }
    .card {
        width: 100%;
    }
    .sidebar{
        width: 100%;
    }
    .main-card {
        order: -1;
    }
}