body {
    font-family: 'Times New Roman', Times, serif;
}
fieldset {
    background-color: bisque;
    padding-bottom: 30px;
    width: 80%;
    margin: 0;
}

legend {
    padding: 20px;
    color:navy
}

.check-row {

}
.form-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.change {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: cadetblue;
}
.foot {
    font-family: cursive;
    font-size: large;
    color: darkblue;
 }

 .form-row label {
    width: 150px;
    text-align: right;
 }

 .spacer {
    width: 150px;
    text-align: right;
 }

 .form-row input:not([type='submit']), .form-row select, .form-row textarea

 .form-row input [type="submit"] {
    background-color: lightblue;
    padding: 10px;
 }
 @media ONLY screen AND (max-width: 480px)    
    .form-row { 
        flex-direction: column;
    }
    fieldset {
        width: 90%;
    }
    .form-row, .spacer {
        text-align: justify;
    }