body {
    font-family: 'Times New Roman', Times, serif;
}
fieldset {
    background-color: bisque;
    padding-bottom: 30px;
    width: 80%;
    margin: 0;
}

legend {
    padding: 20px;
    color:navy
}

.form-row, .check-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.check {

}

.change {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: cadetblue;
}
.foot {
    font-family: cursive;
    font-size: large;
    color: darkblue;
 }

 .form-row label, .check-row label {
    width: 150px;
    text-align: right;
 }

 .form-row input:not([type='submit']), 
.form-row select,
.form-row textarea{
    flex: 1;
    padding: 8px;
    font-size: 1em
}

 .form-row input[type="submit"] {
    background-color: lightblue;
    padding: 10px;
    border: none;
 }
 
 @media only screen and (max-width: 480px) {
    .form-row { 
        flex-direction: column;
    }
    fieldset {
        width: 90%;
    }
    .form-row, 
    .spacer {
        text-align: left;
    }
}