body{
    font-family: 'Times New Roman', Times, serif;
}
.form-row {
    display: flex;
    gap: 10px;
    margin: 15px 0;
}

.change {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: larger;
    color: cadetblue;
}
.foot {
    font-family: cursive;
    font-size: large;
    color: lightseagreen;
 }