body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    line-height: 1.4;
    background-color: antiquewhite;
}
main {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin:20px;
    gap: 20px;
}

header {
    background-color: brown;
    color: antiquewhite;
    padding: 20px;
}
nav {
    background-color: rosybrown;
    display: flex;
    justify-content: space-evenly; 
    padding: 10px;

}
nav a {
    display: block;
    justify-content: space-evenly;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: blanchedalmond;
    background-color: grey;
}
.sidebar {
    /* flex: 3; */
    background-color: tan;
    border-radius: 8px;
    text-align: left;
    width: 150em;
}
.sidebar figure {
    margin: 0;
}
.sidebar figure img {
    width: auto;
    max-width: 150px;
    border-radius: 8px;
}
.sidebar figcaption {
    font-size: small;
    margin: 0.5rem;
    color:#333
}
.sidebar ul {
    font-size: small;
    margin: 0.5rem;
    color:#333
}
.content {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 20px;
}

figure {
    margin: 0%;
}

@media ONLY screen AND (max-width: 480px){

    nav {
        flex-direction: column;
    }

    body { 
        background-color: red;
    }

    main {
        flex-direction: column;
    }
    
    .content{
        flex-direction: column;
        columns: auto;
    }

    .sidebar {
        width: 100%;
        order: 3;
    }
}
/* @media ONLY print AND (max-width: 500px){
 nav {
        display: none;
    }
} */