body {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 600;
    font-style: oblique;
    line-height: 1.5;
    color: brown;
    background-color:wheat
}

*/#webheader {
    background-color: wheat;
    padding-bottom: 10px;
}

nav a {
    border: 2px solid;
    padding: 8px 12px;
    background-color:wheat;
    text-decoration: none;
    border-radius: 4px;
    display: inline-block;
    margin: auto;
}
nav a:hover {
    background-color: grey;
    color: azure;
    border-color: grey;
}

nav {
    text-align: center;
    padding: 10px;
    line-height: 1.5;
    text-shadow: 3px 3px 6px rgb(0, 0, 0, .5);
    font-size: 25px;
    padding: 10px 20px;

}
figure img {
    border: 2px solid gray;
    padding: 8px 12px;
    background-color:wheat;
    text-decoration: none;
    border-radius: 4px;
    margin: auto;

}

body h1 {
    background-color:burlywood
}
body main p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-transform: none;
    text-shadow: 3px 3px 6px;
}
footer {
    text-transform: capitalize;
}
#wrapper{
    width: 900px;
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
}
main figure {
    float: right;
    margin: 10px;
    width: 100px;
}
.red {
    color: brown;
}
.blue {
    color: blue;
}
.green {
    color: green
}
.grey {
    color: gray;
}