body {
    font-family: 'Times New Roman', Times, serif;
}

.schedule {
    border:solid gray;
    border-spacing: 0;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    caption-side: bottom;
}

.schedule th, .schedule td {
    border: thin solid black;
    padding: 5px;
    height: 40px;
    vertical-align: top;
}

.num {
    vertical-align: top;
}
.red {
    background-color: brown;
    color: antiquewhite;
}
.schedule thead tr {
    background-color: gray;
}
.schedule tbody tr:nth-child(even) {
    background-color: gray;
}