nav a {
    color:black
}
body{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(100, 24, 24);
}
body{
    background-image: url() ;
}
.current{
    color: brown;
}
ul {
    list-style: url(Nautical.png);
}
body{
    background-image: url(gray.jpg);
  background-repeat: repeat-x repeat;
}