.current {
    color: brown;
}
.table {
    border: solid grey;
    border-spacing: 0;
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    caption-side: bottom;
}

.table th, .table td {
    border: thin solid grey;
    padding: 5px;
    height: 40px;
    vertical-align: top;
}

.num {
    vertical-align: top;
}
.table thead tr {
    background-color:#E7DECD
}
.table tbody tr:nth-child(odd) {
    background-color:#698F3F ;
    color:white;
}
.green {
    background-color: whitesmoke;
    color: green;
}

@media ONLY screen AND (max-width: 480px) {
    nav {
        width: 100px;
        height: 100px;
        font-size: larger;
    }
}